set default=0
set timeout=5

insmod all_video
insmod gfxterm
insmod png

# bcOS boot theme
set color_normal=light-blue/black
set color_highlight=white/blue
set menu_color_normal=light-cyan/black
set menu_color_highlight=black/light-cyan

menuentry "bcOS — Syslog Agent (Boot)" {
    linux  /vmlinuz-lts \
        modules=loop,squashfs,sd-mod,usb-storage \
        console=tty0 console=ttyS0,115200 \
        quiet loglevel=3 \
        BCOS_MODE=live \
        overlayfs=tmpfs \
        apkovl=/etc/bcvision
    initrd /initramfs-lts
}

menuentry "bcOS — Modo recuperacion" {
    linux  /vmlinuz-lts \
        modules=loop,squashfs,sd-mod,usb-storage \
        console=tty0 console=ttyS0,115200 \
        BCOS_MODE=recovery \
        single
    initrd /initramfs-lts
}

menuentry "bcOS — Instalar en disco" {
    linux  /vmlinuz-lts \
        modules=loop,squashfs,sd-mod,usb-storage \
        console=tty0 console=ttyS0,115200 \
        BCOS_MODE=install
    initrd /initramfs-lts
}
